html {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue:  hsl(229, 23%, 23%);
    --very-dark-gray: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
}

body {
    background: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
}

.bg-top {
    height: 56%;
    width: 63%;
    position: fixed;
    top: -67px;
    left: -15vw;
}

.bg-bottom {
    width: 53%;
    position: fixed;
    bottom: -3vh;
    right: -7vw;
}

main {
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}