html {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue:  hsl(229, 23%, 23%);
    --very-dark-gray: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
}

body {
    background: var(--dark-cyan);
    background-image: url(../images/bg-pattern-bottom.svg);
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}